<div *ngIf="!(afAuth.authState | async)">
    <h1>Login</h1>
    <span>
      <button id="g-button" mat-raised-button appGoogleSignin>
        <img src="/assets/google-logo.svg" /> Login with Google
      </button>
  
      <button mat-raised-button appAnonSignin>
        <img src="/assets/ghost-solid.svg" /> Login as a Test User
      </button>
    </span>
    <h5></h5>
    <app-email-login></app-email-login>

</div>

<div *ngIf="afAuth.authState | async as user" class="logout">
    <p>
      Logged in as <strong>{{ user.email }}</strong> <strong *ngIf="!user.email">Anonymous</strong>
    </p>
    <span>
      <button routerLink="/kanban" mat-stroked-button>Go to Kanban</button>
      <button mat-stroked-button (click)="afAuth.signOut()">Logout</button>
    </span>
</div>